*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;

  transition: all 0.2s cubic-bezier(0.7, 0.02, 0.08, 1.52);
}

html {
  box-sizing: border-box;

  color: #552e1f;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-size: 62.5%;

  //BY HEIGHTS - MAX
  @media only screen and (max-height: 45em) {
    //720H
    font-size: 52%;
  }

  @media only screen and (max-height: 24em) {
    //375H
    font-size: 42%;
  }

  //BY HEIGHTS - MIN
  @media only screen and (min-height: 45em) {
    //720H
    font-size: 52%;
  }

  @media only screen and (min-height: 56em) {
    //900H
    font-size: 62.5%;
  }

  @media only screen and (min-height: 67em) {
    //1080H
    font-size: 80%;
  }

  @media only screen and (min-height: 90em) {
    //1440H
    font-size: 120%;
  }

  @media only screen and (min-height: 135em) {
    //2160H
    font-size: 150%;
  }

  //BY WIDTHS - MAX (PRIORITY)
  @media only screen and (max-width: 86em) {
    //1366W
    font-size: 60%;
  }

  @media only screen and (max-width: 40em) {
    //650W
    font-size: 50%;
  }

  @media only screen and (max-width: 34em) {
    //550W
    font-size: 40%;
  }
}

body {
  font-size: 1.4rem;
  line-height: 1.6;
}
